In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [6]:
url='Metales.xlsx'
df=pd.read_excel(url)
df=pd.DataFrame(df)
df.head()

,AÑO,COBRE(TMF),ORO(KG),ZINC(TMF),PLATA(KG),PLOMO(TMF)
0,2000,5.539240e+05,132585.078000,9.103030e+05,2.437706e+06,270576.000000
1,2001,7.223553e+05,138522.109261,1.056629e+06,2.571114e+06,289546.066107
2,2002,8.445529e+05,157529.918536,1.232997e+06,2.869639e+06,305650.719513
3,2003,8.426051e+05,172624.629844,1.373792e+06,2.923686e+06,309163.882190
4,2004,1.035574e+06,173223.817386,1.209006e+06,3.059817e+06,306210.777938

In [3]:
df.tail()

,AÑO,COBRE(TMF),ORO(KG),ZINC(TMF),PLATA(KG),PLOMO(TMF)
18,2018,2.416881e+06,125933.914437,1.471846e+06,3.999990e+06,288796.225296
19,2019,2.437925e+06,113586.028971,1.382753e+06,3.706760e+06,307020.883105
20,2020,2.153952e+06,85172.522941,1.334570e+06,2.768240e+06,241547.913040
21,2021,2.329886e+06,97189.981930,1.533135e+06,3.375645e+06,264426.507050
22,2022,2.445110e+06,96739.874550,1.369649e+06,3.083036e+06,255442.997159

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AÑO         23 non-null     int64
 1   COBRE(TMF)  23 non-null     float64
 2   ORO(KG)     23 non-null     float64
 3   ZINC(TMF)   23 non-null     float64
 4   PLATA(KG)   23 non-null     float64
 5   PLOMO(TMF)  23 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 1.2 KB