# **Tarea 1 - Módulo 3: PROGRAMA DE ESPECIALIZACIÓN EN PROGRAMACIÓN PYTHON 2023-I**

Con los datos presentados en el archivo Metales.xlsx (el cual presenta la cantidad extraída de ciertos metales por año en el Perú), responda las siguientes preguntas:

* ¿Cuál es el promedio de oro extraído entre los años 2000-2022?
* ¿Cuánto es la cantidad máxima de plata extraída en un año y en qué año ocurrió?
* ¿Cuánto es la cantidad mínima de cobre extraída en un año y en qué año ocurrió?
* ¿Cuánto es la cantidad total de cobre extraído entre los años 2000-2022?
* ¿Cuál es el promedio de oro extraído entre los años 2010-2022?

Enlace de Github **https://github.com/Saul-Ochoa/Python-UTEC/blob/main/Tarea%201%20-%20M%C3%B3dulo%203.ipynb**

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [24]:
url='Metales.xlsx'
df=pd.read_excel(url)
df=pd.DataFrame(df)
df.head()

,AÑO,COBRE(TMF),ORO(KG),ZINC(TMF),PLATA(KG),PLOMO(TMF)
0,2000,5.539240e+05,132585.078000,9.103030e+05,2.437706e+06,270576.000000
1,2001,7.223553e+05,138522.109261,1.056629e+06,2.571114e+06,289546.066107
2,2002,8.445529e+05,157529.918536,1.232997e+06,2.869639e+06,305650.719513
3,2003,8.426051e+05,172624.629844,1.373792e+06,2.923686e+06,309163.882190
4,2004,1.035574e+06,173223.817386,1.209006e+06,3.059817e+06,306210.777938

In [25]:
df.tail()

,AÑO,COBRE(TMF),ORO(KG),ZINC(TMF),PLATA(KG),PLOMO(TMF)
18,2018,2.416881e+06,125933.914437,1.471846e+06,3.999990e+06,288796.225296
19,2019,2.437925e+06,113586.028971,1.382753e+06,3.706760e+06,307020.883105
20,2020,2.153952e+06,85172.522941,1.334570e+06,2.768240e+06,241547.913040
21,2021,2.329886e+06,97189.981930,1.533135e+06,3.375645e+06,264426.507050
22,2022,2.445110e+06,96739.874550,1.369649e+06,3.083036e+06,255442.997159

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AÑO         23 non-null     int64
 1   COBRE(TMF)  23 non-null     float64
 2   ORO(KG)     23 non-null     float64
 3   ZINC(TMF)   23 non-null     float64
 4   PLATA(KG)   23 non-null     float64
 5   PLOMO(TMF)  23 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 1.2 KB

## ¿Cuál es el promedio de oro extraído entre los años 2000-2022?

In [27]:
df.columns

Index(['AÑO', 'COBRE(TMF)', 'ORO(KG)', 'ZINC(TMF)', 'PLATA(KG)', 'PLOMO(TMF)'], dtype='object')

In [28]:
df_filtrar=df[(df['AÑO']>=2000) & (df['AÑO']<=2022)]
prom_oro=df_filtrar['ORO(KG)'].mean()
prom_oro
print(f"el promedio de oro extraído entre los años 2000-2022 es {prom_oro.round(2)}")

el promedio de oro extraído entre los años 2000-2022 es 148425.5

In [29]:
promedio_oro=df['ORO(KG)'].mean()
promedio_oro
print(f"el promedio de oro extraído entre los años 2000-2022 es {promedio_oro.round(2)}")

el promedio de oro extraído entre los años 2000-2022 es 148425.5

## ¿Cuánto es la cantidad máxima de plata extraída en un año y en qué año ocurrió?

In [30]:
max_plata=df['PLATA(KG)'].max()
max_plata

4329179.762906653

In [31]:
año_max_plata=df.loc[df['PLATA(KG)']== max_plata,'AÑO'].iloc[0]
año_max_plata

2016

In [32]:
print(f"La cantidad máxima de plata extraída fue de {max_plata.round(4)} kg en el año {año_max_plata.round(4)}")

La cantidad máxima de plata extraída fue de 4329179.7629 kg en el año 2016

## ¿Cuánto es la cantidad mínima de cobre extraída en un año y en qué año ocurrió?

In [33]:
min_cobre=df['COBRE(TMF)'].min()
min_cobre

553924.0

In [34]:
año_min_cobre=df.loc[df['COBRE(TMF)']== min_cobre,'AÑO'].iloc[0]
año_min_cobre

2000

In [35]:
print(f"La cantidad minima de cobre extraída fue de {min_cobre.round(2)} kg en el año {año_min_cobre}")

La cantidad minima de cobre extraída fue de 553924.0 kg en el año 2000

## ¿Cuánto es la cantidad total de cobre extraído entre los años 2000-2022?

In [36]:
df_filtrar=df[(df['AÑO']>=2000) & (df['AÑO']<=2022)]
sum_cobre=df_filtrar['COBRE(TMF)'].sum()
sum_cobre.round(4)

34581879.337

In [37]:
df['COBRE(TMF)'].sum().round(4)
print(f"la cantidad  de total de cobre extraído entre los años 2000-2022 es {sum_cobre.round(4)}")

la cantidad  de total de cobre extraído entre los años 2000-2022 es 34581879.337

## ¿Cuál es el promedio de oro extraído entre los años 2010-2022?

In [38]:
df_filtrar=df[(df['AÑO']>=2010) & (df['AÑO']<=2022)]
promedio_oro_oro=df_filtrar['ORO(KG)'].sum()
promedio_oro.round(4)

print(f"El promedio de oro extraido entre los años 2010-2022 es {promedio_oro.round(2)}")

El promedio de oro extraido entre los años 2010-2022 es 148425.5